.box-container {
	display: flex;

	flex-direction: column;
	justify-content: space-around;
	align-content: center;
}

.signup {
	text-align: center;
	font-size: 30px;
	font-weight: bold;
}
.user {
	display: flex;

	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
}
